/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html * {
  font-family: 'Noto Sans', sans-serif;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#index-banner {
    background: #000000 url('/images/get-kde-neon-background.png');
    background-size: cover;
}
nav ul li a{
color: #000000;
}
nav {
    width: 100%;
}
nav .nav-wrapper {
    width: 100%;
}
